body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #eeeeee; /* Light grey background for the header */
    border-bottom: 3px solid #ff0000; /* Red bottom border */
    padding: 10px 0;
}

h1 {
    color: #ff0000; /* Red color for main logo */
    text-align: center;
}

h2 {
    color: #9a55d3; /* Lilac purple color for headings */
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: 0;
    background-color: #ffffff; /* White background for the navbar */
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px; /* Padding for each nav item */
    border-radius: 4px; /* Rounded corners for nav items */
}

nav ul li a:hover, nav ul li a.active {
    background-color: #ff0000; /* Red background for hover and active state */
    color: #ffffff; /* White text when active/hover */
}

main {
    margin: 20px 5%; /* 5% margin for main content */
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #eeeeee; /* Light grey background for the footer */
    border-top: 3px solid #ff0000; /* Red top border */
}

/* Form styling */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"],
input[type="date"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    padding: 10px;
    background-color: #5C6BC0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 40px;
}

button:hover {
    background-color: #ff0000; /* Red background on hover for buttons */
}

/* Additional styles for aesthetics */
a {
    text-decoration: none;
    color: #5C6BC0;
}

a:hover {
    text-decoration: underline;
}

/* Responsive adjustments for mobile devices */
@media (max-width: 600px) {
    body {
        padding: 0 5%;
    }

    form {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
        gap: 15px;
    }

    input[type="text"],
    input[type="date"],
    textarea,
    select,
    button {
        width: 100%;
    }

    header, nav ul, main, footer {
        padding: 0;
    }
}
